.postflow-container {
    margin-top: 100px;
    margin-bottom: 15px;
}

.image-popup {
    padding: 2px !important;
}

.preview-card {
    min-height: 594px !important;
}

.social-card {
    position: relative;
    min-width: 30px;
    max-width: 80px;
    width: 100%;
    height: 70px;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(233, 233, 233);
    cursor: pointer;
}

.social-card:hover {
    background-color: rgba(173, 173, 173, 0.71);
}

.navtab-bg li>a {
    background-color: #ffffff !important;
    margin: 0 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #7e57c2 !important;
}

.social-card-icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.colored-icon {
    width: 27.5px;
    height: 27.5px;
    background-size: 27.5px;
    margin: 12px 0px 0px;
    display: inline-block;
    opacity: 1;
}

.selected-colored-icon {
    width: 47.5px;
    height: 47.5px;
    background-size: 47.5px;
    margin: 12px 0px 0px;
    display: inline-block;
    opacity: 1;
}

.social-connect-title {
    color: rgb(60, 60, 60);
    opacity: 1;
    font-weight: 600;
    margin-block: 0px;
    text-align: center;
    font-size: 16px;
    display: block;
}

.connector-selected {
    background-color: rgba(103, 154, 206, 0.74);
}

.social-icon-approved {
    width: 100%;
    height: 100%;
    color: red;
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
}

.facebook-mask {
    mask: url("/common_assets/icons/facebook.svg") center center / 27.5px no-repeat;
    background-color: rgb(14, 118, 168);
}

.instagram-mask {
    mask: url("/common_assets/icons/instagram.svg") center center / 27.5px no-repeat;
    background-color: rgb(220, 50, 117);
}

.tiktok-mask {
    mask: url("/common_assets/icons/tiktok.svg") center center / 27.5px no-repeat;
    background-color: rgb(0, 0, 0);
}

.twitter-mask {
    mask: url("/common_assets/icons/twitter.svg") center center / 27.5px no-repeat;
    background-color: rgb(79, 177, 221);
}

.linkedin-mask {
    mask: url("/common_assets/icons/linkedin.svg") center center / 27.5px no-repeat;
    background-color: rgb(14, 118, 168);
}

.selected-facebook-mask {
    mask: url("/common_assets/icons/facebook.svg") center center / 47.5px no-repeat;
    background-color: rgb(67, 98, 159);
}

.selected-instagram-mask {
    mask: url("/common_assets/icons/instagram.svg") center center / 47.5px no-repeat;
    background-color: rgb(220, 50, 117);
}

.selected-tiktok-mask {
    mask: url("/common_assets/icons/tiktok.svg") center center / 47.5px no-repeat;
    background-color: rgb(0, 0, 0);
}

.selected-twitter-mask {
    mask: url("/common_assets/icons/twitter.svg") center center / 47.5px no-repeat;
    background-color: rgb(79, 177, 221);
}

.selected-linkedin-mask {
    mask: url("/common_assets/icons/linkedin.svg") center center / 47.5px no-repeat;
    background-color: rgb(14, 118, 168);
}

.gal-box {
    border-radius: 8px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
}

.gal-box:hover {
    border: 3px solid rgba(198, 194, 194, 0.61);
}

.filterable-content .selected {
    border: 3px solid #2978c7f0;
}

.social-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.service-place {
    border-style: dotted;
    max-width: 122px;
    max-height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    object-fit: cover;
    height: calc(80vh - 200px);
    /* 100% of the viewport height minus 50 pixels */
    padding: 15px;
    border-radius: 20px;
}

.create-post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: auto;
}

.preview-post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.filter-menu-item {
    padding: 8px 18px !important;
}

@media only screen and (max-width:550px) {
    .postflow-container {
        flex-direction: column !important;
    }

    .create-post-container {
        width: 100%;
    }

    .preview-post-container {
        width: 100%;
        height: auto;
    }

    .filter-menu-item {
        padding: 5px 10px !important;
    }
}

@media only screen and (max-width:400px) {
    .postflow-container {
        flex-direction: column !important;
    }
}

@media (min-width: 576px) {
    .social-card-icon {
        min-width: 100%;
        margin-top: 0px;
        width: 100%;
    }
}

.postflow-subcontainer {
    display: flex;
    flex-direction: row;
}

.post-submenubar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-submenubar a {
}

.btn-group-vertical {
    border: 1px solid !important;
}

.btn-group-topbroder {
    border-top: 1px solid;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: green !important;
    background-color: #FFDD00 !important;
}

.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: white !important;
    border-bottom: 0 solid #f7f7f7;
}

.vertical-line {
    border: 1px dotted grey;
    height: 10px;
}
