

.affiliate-url-wrapper {
    margin-top: 120px;
}

.copy-btn {
    cursor: pointer;
}

.affiliate-title {
    margin-right: 400px;
}

.affilate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-title {
    margin-left: 200px;
}